- @feeds.each do |f|
	%li#feed-item
		.row
			= link_to f.title, f.url
		.row{style: "margin-left: 10px; padding-top: 5px;"}
			= "#{f.body.gsub('&quot;','"')}..."
		.row{style: "margin-left: 10px"}
			%h6 
				= f.published_at.strftime("%d.%m.%Y %H:%M")