.page-header
	.row	
		.span4{style: "margin-left: 40px"}
			%h4#yandex-link 
				Топ-новости с
				= link_to 'Яндекса', 'http://yandex.ru'
.span12
	#options
		Показывать
		= select_tag "options", options_for_select({"все" => "all", "за час" => "hour", "за три часа" => "3hour", "за сутки" => "day", "за неделю" => "week", "за две недели" => "2week"}), options = {style: "width: 150px; margin-left: 10px;"}
	%ul#feeds-list
		= render 'feeds_list'
	.flickr_pagination#pagination
		= render 'paginate'
